commons/target/
chat-server/config/mycs.properties
chat-server/log/
chat-server/target/
game-server/cache/
game-server/config/mygs.properties
game-server/log/
game-server/target/
login-server/config/myls.properties
login-server/log/
login-server/target/

**/.idea/
**/.settings/
**/*.iml
**/.classpath
**/.project
/dotnetConversion/AionServer/.vs
/dotnetConversion/.vs
/dotnetConversion/DebugData
/dotnetConversion/AionServer/obj
/dotnetConversion/src/Aion.ChatServer/bin
/dotnetConversion/src/Aion.ChatServer/obj
/dotnetConversion/src/Aion.Commons/obj
/dotnetConversion/src/Aion.GameServer/bin
/dotnetConversion/src/Aion.GameServer/obj
/dotnetConversion/src/Aion.LoginServer/bin
/dotnetConversion/src/Aion.LoginServer/obj
/dotnetConversion/tests/Aion.ChatServer.Tests/bin
/dotnetConversion/tests/Aion.ChatServer.Tests/obj
/dotnetConversion/tests/Aion.Commons.Tests/bin
/dotnetConversion/tests/Aion.GameServer.Tests/bin
/dotnetConversion/tests/Aion.GameServer.Tests/obj
/dotnetConversion/tests/Aion.LoginServer.Tests/bin
/dotnetConversion/tests/Aion.LoginServer.Tests/obj
/dotnetConversion/tools/Aion.PortParity/bin
/dotnetConversion/tools/Aion.PortParity/obj
/dotnetConversion/tests/Aion.Commons.Tests/obj
/dotnetConversion/src/Aion.Commons/bin
